body{
	overflow-x: hidden;

}

.home-container{
	display: block;
	background-color: #252525;
	height: 100vh;
	justify-content: center;
}

.home-container-secondary{
	display: block;
	background-color: #FFFFFF;
	height: 100vh;
	justify-content: center;

}


.desc{
	color: #FFFFFF;
	display: inline-flex;
}

.desc-secondary{
	display: inline-flex;
}


.home-btn{
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid #252525;
	margin: 1.8em 0.3em 0.3em 1.8em;
	border-radius: 0.5em;
	box-sizing: border-box;
	text-decoration: none;
	color: #FFFFFF;
	text-align: center;
	transition: all 0.2s;
	background-color: #ee0000;
}

.home-btn:hover{
	color: black;
	background-color: #fba2a2;
}

.home-btn-secondary{
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid #FFFFFF;
	margin: 1.8em 0.3em 0.3em 1.8em;
	border-radius: 0.5em;
	box-sizing: border-box;
	text-decoration: none;
	color: #FFFFFF;
	text-align: center;
	transition: all 0.2s;
	background-color: #64dbdf;
}

.home-btn-secondary:hover{
	color: black;
	background-color: #d1fff9;
}








